/*Unable to use SASS because of problems with Prepros, compiling issues etc, so this project is made of pure CSS*/


body {
    font-family: 'Josefin Sans', sans-serif;
    
}

.section1 {
    background-image: url("../images/image1.png");
    background-size:cover;
    max-width: 1770px;
    width: 100%;
    min-height:820px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    
    
}

.header_text {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;

}

.section1_h1 {
    
    color: white;
    font-weight: 700;
    line-height: 26px;
    font-size: 48px;
    margin-bottom: 5px;
    letter-spacing: 4.8px;
   
}

.section1_h2 {
    font-weight: 400;
    color:white;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.8px;
}

.search_btn {
    max-width: 653px;
    width: 100%;
    min-height: 63px;
    box-sizing: border-box;
    display:flex;
    margin-top: 50px;
    
}

input {
    
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    font-weight: 400px;
    float: left;
    width: 653px;
    border: solid white;
    text-align: center;
  
    
}

button {
    border: solid white;
    border-width: thin;
    width: 153px;
    color: white;
    height: 63px;
    background-color: #5474FD;
    font-size: 14px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 1.4px;
    font-family: 'Aleo', serif;
    cursor: pointer;

}

.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.8px;
    color: white;

}
.navbar {
    background-color: #5474FD;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo {
  height: 20px;
  max-width:186px;
  width: 100%;
  
   

}
.navbar_menu {
    display: flex;

}
.navbar_menu li {
  list-style-type: none;
  padding: 15px;
}

.navbar_menu li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Aleo', serif;
    cursor: pointer;
    

}
.navbar_menu li a:hover{
    display: inline-block;
    border-bottom:1px solid;

}

.section2 {
    background-image: url("../images/image2-background.png");
    background-size:cover;
    max-width: 17770px;
    width: 100%;
    height: 685px;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.section2_h1 {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 36px;
    color: white;
    line-height: 26px;

}

.section2_undertext {
    color:white;
    max-width: 560px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 1.6px;
    margin-top: 40px;


}

.explore_btn {
    font-family: 'Aleo', serif;
    max-width: 179px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 1.2px;
    border: none;
    margin-top:30px;
}

.explore_btn:hover{
    background-color:lightblue;
    transition: 0.5s ease-in-out
}

.grid_container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-end;

}
.grid_item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}
 .grid_item2 {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
 }

 .icon_connections {
   
    background-color:#333333;
    border: none;
    display: flex;
    align-items:center;
    flex-direction:column;
    height: 340px;
   
}

 .icon_container{
    display:flex;
    justify-content: space-between;
    
 }

 .icon_text{
    color: #E8E8E8;
    font-family: 'Aleo', serif;
    font-size: 36px;
    margin:50px 100px 50px;
    /* I'm aware that we are not supposed to use large margins, but this is as close I got to the figma design for this part.. Don't know how to do it any other way.*/
 }
.search, .select, .book{
    text-align: center;

}

 
 .fa-inverse {
    color:#5474FD;
 }

 .fa-inverse2 {
    color: #FF6363;
 }
 .fa-inverse3{
    color:#00A2FF;
 }

 .shape {
    color:#E8E8E8;
    
 }

 .section3 {
    background-image: url(../images/condo.png);
    background-size: cover;
    max-width: 1770px;
    width: 100%;
    height:700px;
    display:flex;
    align-items:center;
 }

 .book_container1, .book_container2{
    border:none;
    max-width:543px;
    width:100%;
    display:flex;
    flex-direction: column;
    background-color:#232323;
    opacity:90%;
    padding: 20px;
 }

 .book_container1{
    margin-left: 50px;
 }
 .book_container2{
    margin-right:50px;
 }

 .section3 h3, .section4 h3{
    font-size:20px;
    letter-spacing: 1.5px;
    color: #E8E8E8;
 }

 .section3 h2, .section4 h2 {
    color: white;
    font-size:20px;
 }

 .section3 p, .section4 p{
    color:#E8E8E8;
    
 }

 .section3 button, .section4 button{
    max-width:228px;
    width:100%;
    border:none;
    padding: 20px;

 }
 .section3 button:hover, .section4 button:hover{
    background-color:lightblue;
    transition: 0.5s ease-in-out
 }

 .section4{
    background-image:url(../images/ocean.png);
    background-size: cover;
    max-width: 1770px;
    width: 100%;
    height:700px;
    display:flex;
    align-items:center;
    justify-content: flex-end;
    
 }

 .section5{
    background-image:url(../images/man_looking.png);
    background-size:cover;
    max-width: 1770px;
    width: 100%;
    height:731px;
    display:flex;
    align-items:center;
    justify-content: center;
 }

 .section5 h2{
    font-family: 'Aleo', serif;
    font-size:36px;
    color:white;
    text-align:center;
    margin-bottom: 50px;
 }
 .testimonial_container {
    display:flex;
    max-width: 1113px;
    width:100%;
    background-color:#333333 ;
   
 }
 .testimonial_text{
    color: #E8E8E8;
    margin-left:20px;
    letter-spacing:1.5px;
    line-height:30px;
 }

 .testimonial_text h3{
    font-size:20px;
 }

 .fa-inverse4{
    color:#5474FD;
 }

 .footer {
    background-color:#232323 ;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    
    height:271px;
 }

 .social {
    display:flex;
   
 }
 .social a{
    padding:15px;
    cursor:pointer;
 }
 .footer h4{
    font-size:16px;
    letter-spacing: 1.6px;
    color:white;
 }

 .fa-inverse5{
    color:white;
 }