/*Unable to use SASS because of problems with Prepros, compiling issues etc, so this project is made of pure CSS*/

@media screen and (max-width:920px){

.section2{
    flex-direction:column;
    justify-content: center;
   
}
.grid_container{
    margin-top: 20px;
}
.grid_item2 {
    grid-column: 1 / 4;

}
.icon_text{
    font-size:20px;
}
.icon_container{
    flex-direction:column;
    margin-top:20px;
}
.shape{
    display:none;
}
.elipsis__icon{
    display:flex;
    justify-content: flex-end;
    float:right;
}
}